<section>
    <div class="main_page">
        <form #tdform="ngForm" (ngSubmit)="onSubmit(tdform)">
            <label>First Name</label>
            <input type="text" name="fname" ngModel><br/>
            <label>Last Name</label>
            <input type="text" name="lname" ngModel><br/>
            <label>Email</label>
            <input type="email" name="email" ngModel><br/>
            <label>Mobile Number</label>
            <input type="number" name="number" ngModel><br/>
            <label>School Name</label>
            <input type="text" name="school" ngModel><br/>

            <button type="submit" [disabled]="tdform.invalid">Submit</button>
        </form>
    </div>

    <br><br><br>

    <div>
        <table>
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Mobile Number</td>
                    <td>School Name</td>
                </tr>
            </thead>
            <tbody>
                @for (formItem of data; track $index) {
                <tr>
                    <td>{{formItem.fname}}</td>
                    <td>{{formItem.lname}}</td>
                    <td>{{formItem.email}}</td>
                    <td>{{formItem.number}}</td>
                    <td>{{formItem.school}}</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>