<section class="main_page">
    <div>
        <form [formGroup]="basicForm">
            <input type="hidden" formControlName="id">
            <label>Name: </label>
            <input type="text" placeholder="Enter Your Name" formControlName="name"><br />
            <label>Email: </label>
            <input type="email" placeholder="Enter Your Mail Id" formControlName="email"><br />
            <label>Mobile Number: </label>
            <input type="number" placeholder="Enter Mobile Number" formControlName="number"><br />

            <button type="submit" (click)="onSubmit()">{{this.editMode ? 'Update' : 'Submit'}}</button>
        </form>
    </div>

    <br><br><br>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Number</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @for (formData of data; track $index) {
                <tr>
                    <td>{{formData.name}}</td>
                    <td>{{formData.email}}</td>
                    <td>{{formData.number}}</td>
                    <td>
                        <button type="submit" (click)="onUpdate(formData.id)">Update</button>
                        <button type="submit" (click)="onDelete(formData.id)">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>