.container {
  width: 80%;
  margin: auto;
  font-family: Arial;
}

form input {
  margin: 5px;
  padding: 8px;
}

button {
  margin: 5px;
  padding: 6px 10px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  background: #333;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}